@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
  margin: 0;
  background-color: #222222;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

main::-webkit-scrollbar {
  display: none;
}

main {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
